@using Microsoft.AspNetCore.Identity
@model List<OrderedBook>
@inject UserManager<ApplicationUser> _userManager
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
@{
    var userId = _userManager.GetUserId(User);
    <h1 class="text-dark mb-4">Book Cart</h1>
    <div class="card-header py-3 ">
        <a class="btn btn-info text-primary m-0 font-weight-bold" asp-controller="Book" asp-action="Index">Back</a>
        
        <a class="btn btn-info text-primary m-0 font-weight-bold" asp-controller="Order" asp-action="GoCheckOut" asp-route-id="userId">Go to check out</a>
        

    </div>
}
<table class="table my-0" id="dataTable">
    <thead>
    <tr>
        <th>Title</th>
        @* <th>Image</th> *@
        <th>Quantity</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model){
        if (!item.IsOrdered)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    <a asp-controller="OrderedBook" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
                <td></td>
            </tr>
        }
    }
    </tbody>
</table>
